<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LMS Login Details</title>
</head>
<body>
    <p>Assalomu alaykum!</p>
    <p>Sizning hisob ma'lumotlaringiz:</p>
    <pre>{{text}}</pre>
</body>
</html>
